*{
 margin: 0;
 padding: 0;
}
body{
 background: url(download.jpg);
 background-size: cover;
}
ul{
 list-style: none;
}
h1{
  color: aliceblue;
  margin: 16px 0;
  font-weight: 800;
}
.container{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: 100px auto 100px;
 height: 100vh;
 width: 70%;
 margin: 0 auto;
}
header{
 background-color: rgb(101, 101, 151);
 grid-column-start: span 3;
}
aside{
 background-color: burlywood;
 grid-column-start: span 1;

}
main{
 background-color: aqua;
 grid-column-start: span 2;

}
footer{
 background-color: crimson;
 grid-column-start: span 3;
}